h1, h2, h3, h4, h5, label, li {
  color: black;
}
label, select {
  padding-right: 10px;
  padding-left: 7px;
}
ul {
  list-style-type: none;
}

.background {
  position: absolute;
  display: block;
  width: 100vw;
  height: 150vh;
  opacity: 1;
  transition: opacity 1.5s;
  background: url('/images/space.jpg');
  background-size: cover;
}

.home-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.home-container .title {
  margin: auto
}

.title {
  color: rgba(219, 221, 230, 0.619);
  align-items: center;
}

#navbar {
  display: flex;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

.home-content {
  display: flex;
  flex-direction: column;
}
.home-content button{
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color:  rgba(219, 221, 230, 0.619);
}

.edit-rem-btn {
  padding-left: 8px;
}

.campus-pic {
  height: 40vh;
  width: 50vw;
  padding-top: 15px;
}

.campus-desc {
  padding-bottom: 8px;
}
