@import '~antd/dist/antd.min.css';


.btn {
    margin-right: 5px;
    margin-top: 5px;
}

.column {

}

.gridPage-container {
    display: flex;

}

.search-input{
    margin-right: 10px;
    margin-top: 5px;
}

.search-btns {
    margin-top: .25em;
    display: flex;

}

.sidebar {
    background-color: lightslategray;
    width: 25vw;
    padding: 10px;
}
